*
{
    padding: 0;
    margin: 0;
}

/* Header */
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    width: 1340px;
    margin: 0 auto;
}

section
{
    display: flex;
    flex-wrap: wrap;
    width: 1340px;
    margin: 0 auto;
}
.logo 
{
    width: 100px;
    height: 35px;
}

h1
{
    /* padding-top: 50px; */
    font-size: 24px;
}

h2
{
    padding: 15px 0 0 0;
    font-size: 18px;
    font-weight: normal;
}

/* Navigation */

nav ul
{
    display: flex;
    list-style-type: none;
}

nav li
{
    margin-right: 67px
}

.hebergement
{
    text-decoration: none;
    color: #0065FC;
}

.activite
{
    text-decoration: none;
    color: #9f9f9f;
}

.inscription
{
    text-decoration: none;
    font-weight: bolder;
    color: #0065FC;
}

/* Barre de recherche */
.filtre
{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px 0;
}

/* .recherche
{
    width: 1340px;
    margin-top: 25px;
    margin: 0 auto;
} */

.barre_recherche i
{
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}

form
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0 0 0;
}

form i   
{
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 1px 18px 1px 18px;
    border: 1px solid #d9d9d9;
    border-radius: 30px 0px 0px 30px;
    width: 12px;
    height: 46px;
}

.search
{
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0) !important;
    padding: 1px 18px 1px 18px;
    border: 1px solid #d9d9d9;
    font-size: 1em;
    font-weight: bold;
    width: 233px;
    height: 50px;
}

.bouton
{
    display: flex;
    align-items: center;
    padding: 1px 18px 1px 18px;
    border: 1px solid #d9d9d9;
    border-radius: 0px 30px 30px 0px;
    background-color: #0065fc;
    color: white;
    font-size: 1em;
    font-weight: bold;
    width: 134px;
    height: 50px;
}

.filtre h3
{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.box
{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0 0;
    /* align-items: center; */
}

.box i
{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0065FC;
    background-color: #deebff;
    padding: 1px 18px 1px 18px;
    border: 2px solid transparent;
    border-radius: 30px;
    margin-right: -50px;
    position: relative;
}

.box p
{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 18px 20px 18px 62px;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    margin-right: 25px;
    
}

.info
{
    display: flex;
    justify-content: start;
    padding: 30px 0 0 0;
}

.info i
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #0065FC;
    font-size: 0.8em;
    padding: 3px 3px;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    width: 25px;
    height: 25px;
}

.info p
{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 10px;
}

/* Article Hébergements */
.logement
{
    display: flex;
}

.logement .populaire
{
    width: 880px;
    margin: 0 auto;
    padding-top: 45px;
}

/* .logement */
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
/* .liste_hebergement */
.titre_hebergement
{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-weight: bold;
    color: black;
    background-color: #f2f2f2;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 0px 25px 0px 25px;
    box-sizing: border-box;
    margin-right: 20px;
    width: 880px;
}

.one h3 
{
    font-size: 1.6em;
    font-weight: bold;
    padding: 50px 0 12px 15px;
}

.two h3
{
    font-size: 1.2em;
    font-weight: bold;
    padding: 30px 0 50px 15px;
}

.two a
{
    text-decoration: none;
    color: black;
}
.titre_hebergement
{
    /* display: flex;
    flex-direction: column;
    font-size: 1em;
    font-weight: bold;
    width: auto;
    position: absolute;
    padding: 45px 0 25px 40px; */
}
.item 
{
    display: flex;
    flex-wrap: wrap;
}

.box_hebergement
{
    background-color: #ffffff;
    border: 0.1px solid white;
    border-radius: 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    margin: 15px;
    width: 243px;
    height: 200px;
}

.box_hebergement h5 
{
    font-size: 1em;
    padding: 10px 0px 0px 12px;
}

.box_hebergement p
{
    font-size: 1em;
    padding: 5px 0px 0px 12px;
}

.stars_hebergement
{
    color: #0065FC;
    font-size: 0.7em;
    padding: 6px 54px 0px 12px;
}

.cannebiere img h5 p
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image_ebergement
{
    border-radius: 20px 20px 0px 0px;
    margin: 4px 4px 0px 4px;
    width: 235px;
    height: 115px;
}

h5
{
    font-size: 1em;
    padding: 15px 50px 0px 12px;
}
p
{
    font-size: 1em;
    font-weight: normal;
    padding: 10px 0px 0px 12px;
}

span
{
    font-weight: bold !important;
}

.stars
{
    color: #0065FC;
    font-size: 0.7em;
    padding: 40px 54px 0px 12px;
}

/* Article Populaires */

aside
{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-weight: bold;
    color: black;
    background-color: #f2f2f2;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 0px 25px 0px 25px;
    box-sizing: border-box;
    /* margin-right: 20px; */
    width: 420px;
}

.three
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 15px 15px 15px;
}

.three h3
{
    font-size: 1.2em;
    font-weight: bold;
}

.three i
{
    font-size: 1.2em;
}

/* .liste_populaire
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    font-size: 1em;
    font-weight: bold;
    color: black;
    background-color: #f2f2f2;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 90px 40px;
    box-sizing: border-box;
    margin-left: 20px;
    width: 420px;
} */

.box_populaire
{
    display: flex;
    /* justify-content: space-between;
    flex-direction: column; */
    background-color: #ffffff;
    border: 0.1px solid white;
    border-radius: 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    margin: 15px;
    width: 343px;
    height: 145px;
}

/* .sun
{
    display: flex;
    flex-direction: column;
} */

.image_populaire
{
    border-radius: 20px 0px 0px 20px;
    margin: 4px 8px 0px 4px;
    width: 125px;
    height: 135px;
}

.liste_populaire h5
{
    font-size: 1em;
    padding: 7px 40px 0px 12px;
}

.liste_populaire p
{
    font-size: 1em;
    font-weight: normal;
    padding: 6px 54px 45px 12px;
}

/* article activité */
.activite
{
    display: flex;
    flex-direction: column;
    /* font-size: 1em;
    font-weight: bold;
    color: black;
    background-color: #f2f2f2;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 0px 25px 0px 25px;
    box-sizing: border-box;
    margin-right: 20px;
    width: 1340px; */
}

.four
{
    font-size: 1.6em;
    font-weight: bold;
    color: black;
    padding: 70px 0 28px 0;
}
.liste_activite
{
    display: flex;
    flex-wrap: wrap;
}

h6
{
    font-size: 1em;
    padding: 20px;
    color: black;
}

.jane
{
    padding: 0 19px 0 0;
}

.alpha
{
    padding: 0 19px 21px 19px;
}

.echo   
{
    padding: 20px 19px 0 19px;
}

.tango
{
    padding: 0 19px 0 19px;
}

.fox
{
    padding: 0 0 20px 19px;
}

.papa 
{
    padding: 20px 0 0 19px;
}
.vieux_port img
{
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    height: 390px;
}
.vieux_port 
{
    border: 1px solid #e9e9e9;
    border-radius: 20px; 20px; 20px; 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    height: 448px;
}

.fort img
{
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    height: 180px; 
}

.fort
{
    border: 1px solid #e9e9e9;
    border-radius: 20px; 20px; 20px; 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    height: 240px; 
}

.frioul img
{
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    height: 110px; 
}

.frioul
{
    border: 1px solid #e9e9e9;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    height: 165px; 
}

.calanque img
{
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    height: 390px; 
}

.calanque
{
    border: 1px solid #e9e9e9;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    height: 448px; 
}

.notre_dame img
{
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    height: 140px; 
}

.notre_dame
{
    border: 1px solid #e9e9e9;
    border-radius: 20px; 20px; 20px; 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    height: 195px; 
}

.longchamp img
{
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    height: 155px; 
}

.longchamp
{
    border: 1px solid #e9e9e9;
    border-radius: 20px; 20px; 20px; 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    height: 210px; 
}

/* Footer  */
footer
{
    display: flex;
    background-color: #f2f2f2;
    margin-top: 60px;
}

.mike
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 55px 0;
    width: 1340px;
    margin: 0 auto;
}

.mike p
{
    padding-left: 0;
}