*{
    padding: 0;
    margin: 0;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    max-width: 1340px;
    margin: 0 auto;
}

@media all and (max-width: 375px){
    header{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
    }
}

@media all and (max-width: 375px){
    header div{
        display: flex;
        width: 100%;
        padding-top: 20px;
    }
}

.logo {
    object-fit: cover;
    width: 100px;
    height: 35px;
}

@media all and (max-width: 375px){
    .logo{
        padding: 40px 0 0 20px;
    }
}

@media all and (max-width: 768px){
    .logo{
        padding: 0 0 0 20px;
    }
}

@media all and (max-width: 375px){
    nav ul{
        display: flex;
        justify-content: space-around;
    }
}

@media all and (max-width: 375px){
    div nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0;
       
    }
}

@media all and (max-width: 375px){
    nav{
        display: flex;
        justify-content: space-between;
        margin-right: 0px;
    }
}

nav ul{
    display: flex;
    list-style-type: none;
    width: 100%;
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box_inscrit{
    display: flex;
    list-style-type: none;
    width: auto;
}

li:hover a{
    color: #0065FC;
}

@media all and (max-width: 375px){
    .box_inscrit{
        position: absolute;
        top: 35px;
        Left: 295px;
        margin: 0;
    }
}

.hebergement, .activite, .inscription{
    padding: 0 35px;
}

@media all and (max-width: 375px){
    ul{
        border-bottom: 2px solid #f2f2f2;
    }
}

@media all and (max-width: 375px){
    .inscription{
        padding: 0 0;
    }
}

.hebergement:hover{
    border-top: 3px solid #0065FC;
    padding-top: 55px;
} 

@media all and (max-width: 375px){
    .hebergement, .activite{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0;
        width: 100%;
        height: 50px;
    }
}

@media all and (max-width: 375px){
    .hebergement:hover{
        border-top: none;
        border-bottom: 3px solid #0065FC;
        padding-top: 0;
        /* padding-bottom: 15px;     */
    }
}

@media all and (max-width: 375px){
    li:nth-child(1){
        order: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
    }
}

.activite:hover{
    border-top: 3px solid #0065FC;
    padding-top: 55px;
}

@media all and (max-width: 375px){
    .activite:hover{
        border-top: none;
        border-bottom: 3px solid #0065FC;
        padding-top: 0;
        /* padding-bottom: 15px;    */
    }
}

@media all and (max-width: 375px){
     li:nth-child(2){
        order: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
    }
}

.inscription:hover{
    border-top: 3px solid #0065FC;
    padding-top: 55px;
}

.inscription{
    text-decoration: none;
    font-weight: bolder;
    color: #0065FC;
}

/* Section filtre et recherche  */
section{
    display: flex;
    flex-wrap: wrap;
    max-width: 1340px;
    margin: 0 auto;
}

.filtre{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px 0;
}

@media all and (max-width: 375px){
    .filtre{
        padding: 35px 0 35px 20px;
    }
}

@media all and (max-width: 768px){
    .filtre{
        padding: 35px 0 35px 20px;
    }
}

.barre_recherche i{
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}

h1{
    font-size: 24px;
}

h2{
    padding: 15px 0 0 0;
    font-size: 18px;
    font-weight: normal;
}

form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0 0 0;
}

@media all and (max-width: 375px){
    form{
        padding: 40px 0 0 0;
    }
}

form i{
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 1px 18px 1px 18px;
    border: 1px solid #d9d9d9;
    border-radius: 30px 0px 0px 30px;
    width: 12px;
    height: 46px;
}

@media all and (max-width: 375px){
    form i{
        border-radius: 18px 0 0 18px;
    }
}

.search{
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0) !important;
    padding: 1px 18px 1px 18px;
    border: 1px solid #d9d9d9;
    font-size: 1em;
    font-weight: bold;
    width: 233px;
    height: 50px;
}

@media all and (max-width: 375px){
    .search{
        border: 0.3px solid #d9d9d9;
    }
}

form .fa-search{
    display: none;
}

@media all and (max-width: 375px){
    form .fa-search{
        position: relative;
        display: initial;
        color: white;
        background-color: #0065fc;
        border-radius: 18px 18px;
        right: 20px;
    }
}

@media all and (max-width: 375px){
    .barre_recherche .fa-search{
        display: flex;
        justify-content: center;
        font-size: 1.3em;
    }
}

.bouton{
    display: flex;
    align-items: center;
    padding: 1px 18px 1px 18px;
    border: 1px solid #d9d9d9;
    border-radius: 0px 30px 30px 0px;
    background-color: #0065fc;
    color: white;
    font-size: 1em;
    font-weight: bold;
    width: 134px;
    height: 50px;
}

@media all and (max-width: 375px){
    .bouton{
        display: none;
        position: relative;
        right: 30px;
        width: 50px;
        height: 50px;
        border-radius: 15px 15px;
    }
}

.box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0 0 5px;
}

.boite_filtre{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media all and (max-width: 375px){
    .box{
        display: flex;
        justify-content: start;
        padding: 35px 0 0 0;
        width: 325px;
        height: 200px;
    }
}

@media all and (max-width: 768px){
    .box{
        display: flex;
        justify-content: start;
        padding: 35px 0 0 0;
        width: 325px;
        height: 160px;
    }
}

.box_filtre{
    display: flex;
}

@media all and (max-width: 375px){
    .box_filtre:nth-child(1){
        order: 1;
    }
}

@media all and (max-width: 375px){
    .box_filtre:nth-child(2){
        order: 4;
    }
}

@media all and (max-width: 375px){
    .box_filtre:nth-child(3){
        order: 2;
    }
}

@media all and (max-width: 375px){
    .box_filtre:nth-child(4){
        order: 3;
    }
}

@media all and (max-width: 375px){
    .box h3{
        padding-bottom: 20px;
    }
}

@media all and (max-width: 375px){
    .boite_filtre{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 375px;
        height: 165px;
    }
}

@media all and (max-width: 768px){
    .boite_filtre{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 375px;
        height: 110px;
    }
}

.box i{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #0065FC;
    background-color: #deebff;
    border: 2px solid transparent;
    border-radius: 100%;
    margin-right: -48px;
    position: relative;
    width: 45px;
    height: 45px;
}

.box p{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 0 15px 0 60px;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    height: 45px;   
    margin-right: 40px;
}

@media all and (max-width: 375px){
    .box p{
        margin: 0;
    }
}

.box_filtre:hover i{
    background-color: #0065FC;    
    border: 2px solid #0065fc;
    color: white;
}
.box_filtre:hover p{
    background-color: #deebff;
    border: 2px solid #0065fc; 
}

.filtre h3{
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.info{
    display: flex;
    justify-content: start;
    padding: 30px 0 0 0;
}

.info i{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #0065FC;
    font-size: 0.8em;
    padding: 3px 3px;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    width: 25px;
    height: 25px;
}

.info p{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 10px;
}

/* Section hébergement et populaire */
.logement{
    display: flex;
    flex-wrap: wrap;
}

.conteneur_hebergement{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-weight: bold;
    color: black;
    background-color: #f2f2f2;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 0px 25px 0px 25px;
    box-sizing: border-box;
    margin-right: 40px;
    max-width: 880px;
}

@media all and (max-width: 375px){
    .conteneur_hebergement{
        background-color: transparent;
        margin-right: 0;
        padding: 0 0;
        width: 100%;
    }
}

@media all and (max-width: 768px){
    .conteneur_hebergement{
        background-color: transparent;
        margin-right: 0;
        padding: 0 0;
        width: 100%;
    }
}

@media all and (max-width: 375px){
    .conteneur_hebergement:nth-child(1){
        order: 2;
    }
}

.titre_hebergement h3 {
    font-size: 1.6em;
    font-weight: bold;
    padding: 50px 0 12px 15px;
}

.item {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box_hebergement{
    background-color: #ffffff;
    border: 0.1px solid white;
    border-radius: 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    margin: 15px;
    width: 243px;
    height: 200px;
}

@media all and (max-width: 375px){
    .box_hebergement{
        margin: 5px 15px;
        width: 335px;
    }
}

.item a{
    text-decoration: none;
}

.box_hebergement h4 {
    font-size: 1em;
    padding: 10px 0px 0px 12px;
}

.box_hebergement p{
    font-size: 1em;
    padding: 5px 0px 0px 12px;
}

.box_hebergement:hover{
    box-shadow: 5px 4px 10px rgb(32, 32, 32);
}

.image_ebergement{
    object-fit: cover;
    border-radius: 14px 14px 0px 0px;
    margin: 4px 4px 0px 4px;
    width: 235px;
    height: 115px;
}

@media all and (max-width: 375px){
    .image_ebergement{
        width: 335px;
    }
}

.stars_hebergement{
    color: #0065FC;
    font-size: 0.7em;
    padding: 6px 54px 0px 12px;
}

.afficher_plus h3{
    font-size: 1.2em;
    font-weight: bold;
    padding: 30px 0 50px 15px;
}

.afficher_plus a{
    text-decoration: none;
    color: black;
}

aside{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-weight: bold;
    color: black;
    background-color: #f2f2f2;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 0px 25px 0px 25px;
    box-sizing: border-box;
    max-width: 420px;
}

@media all and (max-width: 375px){
    aside{
        width: 100%;
        padding: 0 0 35px 0;
        border-radius: 0;
    }
}

@media all and (max-width: 768px){
    aside{
        width: 100%;
        padding: 0 0 35px 0;
        margin: auto;
        border-radius: 0;
    }
}

@media all and (max-width: 375px){
    .aside:nth-child(2){
        order: 1;
    }
}

.titre_populaire{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titre_populaire h3{
    font-size: 1.6em;
    font-weight: bold;
    padding: 50px 0 12px 15px;
}

.titre_populaire i{
    font-size: 1.6em;
    padding: 50px 0 12px 15px;
}

@media all and (max-width: 375px){
    .titre_populaire i{
        padding: 50px 20px 12px 15px;
    }
}

@media all and (max-width: 768px){
    .titre_populaire i{
        padding: 50px 20px 12px 15px;
    }
}

.box_populaire{
    display: flex;
    background-color: #ffffff;
    border: 0.1px solid white;
    border-radius: 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    margin: 15px;
    width: 343px;
    height: 145px;
}

@media all and (max-width: 375px){
    .box_populaire{
        width: 335px;
        margin: 5px 20px;
    }
}

.box_populaire:hover{
    box-shadow: 5px 4px 10px rgb(32, 32, 32);
}

.image_populaire{
    object-fit: cover;
    border-radius: 14px 0px 0px 14px;
    margin: 4px 8px 0px 4px;
    width: 125px;
    height: 137px;
}

.stars{
    color: #0065FC;
    font-size: 0.7em;
    padding: 40px 54px 0px 12px;
}

.box_populaire h4{
    font-size: 1em;
    padding: 15px 50px 0px 12px;
}
p{
    font-size: 1em;
    font-weight: normal;
    padding: 10px 0px 0px 12px;
}

.box_activite{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titre_activite{
    font-size: 1.6em;
    font-weight: bold;
    color: black;
    padding: 70px 0 28px 20px;
}

@media all and (max-width: 375px){
    .four{
        padding: 10px 0 25px 20px;
    }
}

h4{
    font-size: 1em;
    padding: 20px;
    color: black;
}

.liste_activite{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media all and (max-width: 768px){
    .liste_activite{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

.activite_vieuxport a{
    text-decoration: none;
}

@media all and (max-width: 375px){
    .activite_vieuxport{
        padding: 10px 20px 10px 20px;
    }
}

.vieux_port{
    border: 1px solid #e9e9e9;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    height: 448px;
}

@media all and (max-width: 375px){
    .vieux_port{
        width: 335px;
        height: 190px;
    }
}

.vieux_port img{
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    height: 390px;
}

@media all and (max-width: 375px){
    .vieux_port img{
        width: 335px;
        height: 135px;
    }
}

.vieux_port:hover{
    box-shadow: 5px 4px 10px rgb(32, 32, 32);
}


.fort_pomegue a{
    text-decoration: none;
}

@media all and (max-width: 375px){
    .fort_pomegue{
        padding: 10px 20px 10px 20px;
    }
}

.fort{
    border: 1px solid #e9e9e9;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    height: 240px; 
}

@media all and (max-width: 375px){
    .fort{
        width: 335px;
        height: 190px;
    }
}

.fort img{
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    height: 180px; 
}

@media all and (max-width: 375px){
    .fort img{
        width: 335px;
        height: 135px;
    }
}

.fort:hover{
    box-shadow: 5px 4px 10px rgb(32, 32, 32);
}

.ile_frioul a{
    text-decoration: none;
}

@media all and (max-width: 375px){
    .ile_frioul{
        padding: 10px 20px 10px 20px;
    }
}

.frioul{
    border: 1px solid #e9e9e9;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    height: 165px; 
}

@media all and (max-width: 375px){
    .frioul{
        width: 335px;
        height: 190px;
    }
}

.frioul img{
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    height: 110px; 
}

@media all and (max-width: 375px){
    .frioul img{
        width: 335px;
        height: 135px;
    }
}

.frioul:hover{
    box-shadow: 5px 4px 10px rgb(32, 32, 32);
}

.parc_calanque a{
    text-decoration: none;
}

@media all and (max-width: 375px){
    .parc_calanque{
        padding: 10px 20px 10px 20px;
    }
}

.calanque{
    border: 1px solid #e9e9e9;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    height: 448px; 
}

@media all and (max-width: 375px){
    .calanque{
        width: 335px;
        height: 190px;
    }
}

.calanque img{
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    height: 390px; 
}

@media all and (max-width: 375px){
    .calanque img{
        width: 335px;
        height: 135px;
    }
}

.calanque:hover{
    box-shadow: 5px 4px 10px rgb(32, 32, 32);
}

.conteneur_notredame, .conteneur_activite{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notredame_garde a{
    text-decoration: none;
}

@media all and (max-width: 375px){
    .notredame_garde{
        padding: 10px 20px;
    }
}

.notre_dame{
    border: 1px solid #e9e9e9;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    height: 195px; 
}

@media all and (max-width: 375px){
    .notre_dame{
        width: 335px;
        height: 190px;
    }
}

.notre_dame img{
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    height: 140px; 
}

@media all and (max-width: 375px){
    .notre_dame img{
        width: 335px;
        height: 135px;
    }
}

.notre_dame:hover{
    box-shadow: 5px 4px 10px rgb(32, 32, 32);
}

.parc_longchamp a{
    text-decoration: none;
}

@media all and (max-width: 375px){
    .parc_longchamp{
        padding: 10px 20px;
    }
}

.longchamp{
    border: 1px solid #e9e9e9;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    height: 210px; 
}

@media all and (max-width: 375px){
    .longchamp{
        width: 335px;
        height: 190px;
    }
}

.longchamp img{
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    height: 155px; 
}

@media all and (max-width: 375px){
    .longchamp img{
        width: 335px;
        height: 135px;
    }
}

.longchamp:hover{
    box-shadow: 5px 4px 10px rgb(32, 32, 32);
}

/* Footer  */
footer{
    display: flex;
    background-color: #f2f2f2;
    margin-top: 60px;
}

@media all and (max-width: 375px){
    footer{
        flex-direction: column;
        justify-content: left;
        margin-top: 40px;
        width: 375px;
        height: 455px;
    }
}

@media all and (max-width: 768px){
    footer{
        flex-direction: column;
        justify-content: left;
        margin-top: 40px;
        width: 768px;
        height: 210px;
    }
}


.box_infolien{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0 55px 0;
    margin: 0 auto;
}

@media all and (max-width: 375px){
    .box_infolien{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 5px 0 50px 0;
        margin: 0;
    }
}

@media all and (max-width: 768px){
    .box_infolien{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding: 5px 0 50px 0;
        margin: 0;
        width: 768px;
    }
}

.box_infolien div{
    padding: 0 300px 0 0;
}

@media all and (max-width: 375px){
    .box_infolien div{
        padding: 45px 0 0 20px;
    }
}

@media all and (max-width: 768px){
    .box_infolien div{
        padding: 45px 0 0 20px;
    }
}

.box_infolien p{
    padding-left: 0;
}

a{
    text-decoration: none;
    color: black;
}













































