*{
    padding: 0;
    margin: 0;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    max-width: 1340px;
    margin: 0 auto;
}

.logo {
    width: 100px;
    height: 35px;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav li{
    margin-right: 67px
}

.hebergement{
    text-decoration: none;
    color: #0065FC;
}

.activite{
    text-decoration: none;
    color: #9f9f9f;
}

.inscription{
    text-decoration: none;
    font-weight: bolder;
    color: #0065FC;
}

/* Section filtre et recherche  */
section{
    display: flex;
    flex-wrap: wrap;
    max-width: 1340px;
    margin: 0 auto;
}

.filtre{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px 0;
}

.barre_recherche i{
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}

h1{
    font-size: 24px;
}

h2{
    padding: 15px 0 0 0;
    font-size: 18px;
    font-weight: normal;
}

form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0 0 0;
}

form i{
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 1px 18px 1px 18px;
    border: 1px solid #d9d9d9;
    border-radius: 30px 0px 0px 30px;
    width: 12px;
    height: 46px;
}

.search{
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0) !important;
    padding: 1px 18px 1px 18px;
    border: 1px solid #d9d9d9;
    font-size: 1em;
    font-weight: bold;
    width: 233px;
    height: 50px;
}

.bouton{
    display: flex;
    align-items: center;
    padding: 1px 18px 1px 18px;
    border: 1px solid #d9d9d9;
    border-radius: 0px 30px 30px 0px;
    background-color: #0065fc;
    color: white;
    font-size: 1em;
    font-weight: bold;
    width: 134px;
    height: 50px;
}

.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0 0 0;
}

.box_filtre{
    display: flex;
}

.box i{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0065FC;
    background-color: #deebff;
    padding: 1px 18px 1px 18px;
    border: 2px solid transparent;
    border-radius: 30px;
    margin-right: -50px;
    position: relative;
}

.box p{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 18px 20px 18px 62px;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    margin-right: 25px;  
    
}

.box_filtre:hover i{
    background-color: #0065FC;    
    border: 1px solid #0065fc;
    color: white;
}
.box_filtre:hover p{
    background-color: #deebff;
    border: 1px solid #0065fc; 
}

.filtre h3{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.info{
    display: flex;
    justify-content: start;
    padding: 30px 0 0 0;
}

.info i{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #0065FC;
    font-size: 0.8em;
    padding: 3px 3px;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    width: 25px;
    height: 25px;
}

.info p{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 10px;
}

/* Section hébergement et populaire */
.logement{
    display: flex;
    flex-wrap: wrap;
}

.titre_hebergement{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-weight: bold;
    color: black;
    background-color: #f2f2f2;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 0px 25px 0px 25px;
    box-sizing: border-box;
    margin-right: 20px;
    max-width: 880px;
}

.one h3 {
    font-size: 1.6em;
    font-weight: bold;
    padding: 50px 0 12px 15px;
}

.item {
    display: flex;
    flex-wrap: wrap;
}

.box_hebergement{
    background-color: #ffffff;
    border: 0.1px solid white;
    border-radius: 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    margin: 15px;
    width: 243px;
    height: 200px;
}

.item a{
    text-decoration: none;
}

.box_hebergement h4 {
    font-size: 1em;
    padding: 10px 0px 0px 12px;
}

.box_hebergement p{
    font-size: 1em;
    padding: 5px 0px 0px 12px;
}

.box_hebergement:hover{
    box-shadow: 5px 4px 10px rgb(32, 32, 32);
}

.image_ebergement{
    object-fit: cover;
    border-radius: 14px 14px 0px 0px;
    margin: 4px 4px 0px 4px;
    width: 235px;
    height: 115px;
}

.stars_hebergement{
    color: #0065FC;
    font-size: 0.7em;
    padding: 6px 54px 0px 12px;
}

.two h3{
    font-size: 1.2em;
    font-weight: bold;
    padding: 30px 0 50px 15px;
}

.two a{
    text-decoration: none;
    color: black;
}

aside{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-weight: bold;
    color: black;
    background-color: #f2f2f2;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 0px 25px 0px 25px;
    box-sizing: border-box;
    max-width: 420px;
}

.three{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 15px 15px 15px;
}

.three h3{
    font-size: 1.2em;
    font-weight: bold;
}

.three i{
    font-size: 1.2em;
}

.box_populaire{
    display: flex;
    background-color: #ffffff;
    border: 0.1px solid white;
    border-radius: 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    margin: 15px;
    width: 343px;
    height: 145px;
}

.box_populaire:hover{
    box-shadow: 5px 4px 10px rgb(32, 32, 32);
}

.image_populaire{
    object-fit: cover;
    border-radius: 14px 0px 0px 14px;
    margin: 4px 8px 0px 4px;
    width: 125px;
    height: 137px;
}

.stars{
    color: #0065FC;
    font-size: 0.7em;
    padding: 40px 54px 0px 12px;
}

.box_populaire h4{
    font-size: 1em;
    padding: 15px 50px 0px 12px;
}
p{
    font-size: 1em;
    font-weight: normal;
    padding: 10px 0px 0px 12px;
}

.activite{
    display: flex;
    flex-direction: column;
}

.four{
    font-size: 1.6em;
    font-weight: bold;
    color: black;
    padding: 70px 0 28px 0;
}

h4{
    font-size: 1em;
    padding: 20px;
    color: black;
}

.liste_activite{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.jane{
    /* padding: 0 19px 0 0; */
    padding: 20px 40px 20px 0;
}

.jane a{
    text-decoration: none;
}

.vieux_port{
    border: 1px solid #e9e9e9;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    height: 448px;
}

.vieux_port img{
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    height: 390px;
}

.vieux_port:hover{
    box-shadow: 5px 4px 10px rgb(32, 32, 32);
}

.alpha{
    /* padding: 0 19px 21px 19px; */
    padding: 20px 40px 20px 0;
}

.alpha a{
    text-decoration: none;
}

.fort{
    border: 1px solid #e9e9e9;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    height: 240px; 
}

.fort img{
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    height: 180px; 
}

.fort:hover{
    box-shadow: 5px 4px 10px rgb(32, 32, 32);
}

.echo   {
    /* padding: 20px 19px 0 19px; */
    padding: 20px 40px 20px 0;
}

.echo a{
    text-decoration: none;
}

.frioul{
    border: 1px solid #e9e9e9;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    height: 165px; 
}

.frioul img{
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    height: 110px; 
}

.frioul:hover{
    box-shadow: 5px 4px 10px rgb(32, 32, 32);
}

.tango{
    /* padding: 0 19px 0 19px; */
    padding: 20px 40px 20px 0;
}

.tango a{
    text-decoration: none;
}

.calanque{
    border: 1px solid #e9e9e9;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    height: 448px; 
}

.calanque img{
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    height: 390px; 
}

.calanque:hover{
    box-shadow: 5px 4px 10px rgb(32, 32, 32);
}

.fox{
    /* padding: 0 0 20px 19px; */
    padding: 20px 0 20px 0;
}

.fox a{
    text-decoration: none;
}

.notre_dame{
    border: 1px solid #e9e9e9;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    height: 195px; 
}

.notre_dame img{
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    height: 140px; 
}

.notre_dame:hover{
    box-shadow: 5px 4px 10px rgb(32, 32, 32);
}

.papa{
    /* padding: 20px 0 0 19px; */
    padding: 20px 0 20px 0;
}

.papa a{
    text-decoration: none;
}

.longchamp{
    border: 1px solid #e9e9e9;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 2px 2px #e9e9e9;
    height: 210px; 
}

.longchamp img{
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    height: 155px; 
}

.longchamp:hover{
    box-shadow: 5px 4px 10px rgb(32, 32, 32);
}

/* Footer  */
footer{
    display: flex;
    background-color: #f2f2f2;
    margin-top: 60px;
}

.mike{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0 55px 0;
    width: 1340px;
    margin: 0 auto;
}

.mike p{
    padding-left: 0;
}

a{
    text-decoration: none;
    color: black;
}













































